{% extends 'base.html' %}
{% block title %}Add to Google Calendar{% endblock %}

{% block body %}

<div class="container">

  <div class="row">

    <div class="col">

      <h1>Add Event to Google Calendar</h1>
      <form action="/add-event" method="POST">
        <p>
          <label for="calendar">
            Event Name:
          </label>
          <input type="text" name="calendar" value="calendar" placeholder="Event Name">
        </p>

        <p>
          <label for="description">
            Description:
          </label>
          <input type="text" name="description" value="description" placeholder="Comment">
        </p>

        <p>
          <label for="date">
            Date:
          </label>
          <input type="date" name="date" value="date">
        </p>

        <p>
          <label for="time">
            Time:
          </label>
          <input type="time" name="time" value="time">
        </p>

          <!-- <label for="repeat">
            repeat:
          </label>
        <input type="text" name="repeat" value="repeat"> -->

        <button type="submit">Add Event</button>
      </form>
    </div>


    <div class="col">

      <h1>Authorize Google Calendar</h1>
      <form action="/authorize">
        <button type="submit">Authorize Google Calendar</button>
      </form>
    </div>

    
  </div>

</div>  
{% endblock %}
