{% extends 'base.html' %}

{% block body %}

<div class="container">

  <div class="row">

    <h1>{{ group.group_name }}</h1>

  </div>

  <div class="row">
    
    <h2>Users in this Group</h2>
      
    {% for key, values in group_user_assignments.items() %}
      <div class="col" id="card">
        <h2 id="card-title">{{ key.username }}</h2>
        <ul id="card-text">
          {% for value in values %}
          <li>
            {{ value }}
          </li>
          {% endfor %}
        </ul>

        <form action="/delete-group-user" method="POST">  

          <input type="hidden" name="user_id" value="{{ key.user_id }}">
          <input type="hidden" name="group_id" value="{{ group_id }}">

          <button type="submit"> 
            Remove {{ key.username }}
          </button>

        </form>
      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col">
    <h2>Add A User</h2>
    <form action="/add-group-user" method="POST">

      <input type="hidden" name="group_id" value="{{ group_id }}">

      <p>
        <select name="user_id">
          {% for user in users %}
          <option value="{{ user.user_id }}">{{ user.username }}</option>
          {% endfor %}
        </select>
      </p>

      <p>
        <button type="submit">Add User to Group</button>
      </p>
    </form>
  </div>

    <div class="col">
      <h2>Assign A Task</h2>
      <form action="/add-assignment" method="POST">
        <p>
          Tasks 
          <select name="chore_id">
            {% for group_chore in group_chores %}
            <option value="{{ group_chore.chore.chore_id }}">{{ group_chore.chore.chore_name }}</option>
            {% endfor %}
          </select>
        </p>

        <p>
        Users 
          <select name="user_id">
            {% for group_user in group_users %}
            <option value="{{ group_user.user.user_id }}">{{ group_user.user.username }}</option>
            {% endfor %}
          </select>
        </p>

        <input type="hidden" name="group_id" value="{{ group_id }}">
        
        <p>
          <button type="submit">Assign Task</button>
        </p>
      </form>
    </div>

    <!-- <div class="col">
      <h2>{{ group.group_name }}'s Chore Library</h2>

      <ul>
        {% for group_chore in group_chores %}
        <li>
          {{ group_chore.chore.chore_name }}
        </li>
        {% endfor %}
      </ul>
    </div> -->

    <div class="col">

      <h2>Create New Task</h2>
      <form action="/add-chore" method="POST">
      <p>
        Task Name <input type="text" name="chore_name">
      </p>

      <p>
        Task Description <input type="text" name="chore_description">
      </p>

      <input type="hidden" name="group_id" value="{{ group_id }}">

      <p>
        <button type="submit">Create Task</button>
      </p>
      </form>
    </div>

    <div class="col">
      <h2>Find a Task</h2>
      <form action="/add-group-chore" method="POST">

        <input type="hidden" name="group_id" value="{{ group_id }}">

        <p>
          <select name="chore_id">
            {% for chore in chores %}
            <option value="{{ chore.chore_id }}">{{ chore.chore_name }}</option>
            {% endfor %}
          </select>
        </p>

        <p>
          <button type="submit">Add Task to Library</button>
        </p>
      </form>
    </div>

  </div>

  <div class="row">
    <form action="/delete-group" method="POST">  

      <input type="hidden" name="group_id" value="{{ group_id }}">
  
      <button type="submit"> 
        Delete this group!
      </button>
  
    </form>
  </div>

</div>

{% endblock %}