{% extends 'base.html' %}
{% block title %}All Groups{% endblock %}

{% block body %}

<ul>
    {% for group in groups %}
    <li>
        <a href="/groups/{{ group.group_id }}">
            {{ group.group_name }}
          </a>
    </li>
    {% endfor %}
  </ul>

<h2>Add New Group</h2>
<form action="/add-group" method="POST">
  <p>
    Group Name <input type="text" name="group_name">
  </p>

  <p>
    Group Description <input type="text" name="group_description">
  </p>
  
  <p>
    <input type="submit">
  </p>
</form>
    
{% endblock %}
