{% extends 'base.html' %}

{% block body %}

<div class="container">

  <div class="row">
    <div class="w-100"></div>
    <div class="col">
      <h1>{{ group.group_name }}'s Tasks</h1>

      <p>{{ group.group_description }}</p>
      
      <form action="/delete-group" method="POST">  

        <input type="hidden" name="group_id" value="{{ group_id }}">
    
        <button type="submit">Delete this group!</button>
    
      </form>
    </div>

  </div>

  <div class="row">
      
    {% for key, values in group_user_assignments.items() %}
      <div class="col" id="card">
        <h2 id="card-title">{{ key.username }}</h2>      

        <ul id="card-ul">
          <li id="card-li">
            Remove {{ key.username }}
            <form action="/delete-group-user" method="POST">  

              <input type="hidden" name="user_id" value="{{ key.user_id }}">
              <input type="hidden" name="group_id" value="{{ group_id }}">
    
              <button type="submit" class="close"> 
                x
              </button>
    
            </form>
          </li>
          {% for value in values %}
          <li id="card-li">
            {{ value.chore.chore_name }}
            <form action="/toggle-complete" method="POST">  

              <input type="hidden" name="user_id" value="{{ key.user_id }}">
              <input type="hidden" name="assignment_id" value="{{ value.assignment_id }}">
              <input type="hidden" name="group_id" value="{{ value.group_id }}">
    

              <button type="submit" class="toggle-complete-btn"> 
                {% if value.complete %}
                <span>&#10003;</span> 
                {% else %}
                <span>&#9744;</span> 
                {% endif %}
              </button>
            </form>

            <form action="/delete-assignment" method="POST">  

              <input type="hidden" name="user_id" value="{{ key.user_id }}">
              <input type="hidden" name="assignment_id" value="{{ value.assignment_id }}">
              <input type="hidden" name="group_id" value="{{ group_id }}">
    
              <button type="submit" class="close">x</button>
    
            </form>
          </li>
          {% endfor %}
        </ul>


      </div>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col" id="card">
    <h2>Add User</h2>
    <form action="/add-group-user" method="POST">

      <input type="hidden" name="group_id" value="{{ group_id }}">

      <p>
        <select name="user_id">
          <option selected disabled>Choose a user</option>
          {% for user in users %}
          <option value="{{ user.user_id }}">{{ user.username }}</option>
          {% endfor %}
        </select>
      </p>

      <p>
        <button type="submit">Add User to Group</button>
      </p>
    </form>
  </div>

    <div class="col" id="card">
      <h2>Assign Task</h2>
      <form action="/add-assignment" method="POST">
        <p> 
          <select name="chore_id">
            <option selected disabled>Choose a task</option>
            {% for group_chore in group_chores %}
            <option value="{{ group_chore.chore.chore_id }}">{{ group_chore.chore.chore_name }}</option>
            {% endfor %}
          </select>
        </p>

        <p>
          <select name="user_id">
            <option selected disabled>Choose a user</option>
            {% for group_user in group_users %}
            <option value="{{ group_user.user.user_id }}">{{ group_user.user.username }}</option>
            {% endfor %}
          </select>
        </p>

        <input type="hidden" name="group_id" value="{{ group_id }}">
        
        <p>
          <button type="submit">Assign Task</button>
        </p>
      </form>
    </div>

    <!-- <div class="col">
      <h2>{{ group.group_name }}'s Chore Library</h2>

      <ul>
        {% for group_chore in group_chores %}
        <li>
          {{ group_chore.chore.chore_name }}
        </li>
        {% endfor %}
      </ul>
    </div> -->

    <div class="col" id="card">

      <h2>Create New Task</h2>
      <form action="/add-chore" method="POST">
      <p>
        <input type="text" name="chore_name" placeholder="Task Name">
      </p>

      <p>
        <input type="text" name="chore_description" placeholder="Task Description">
      </p>

      <input type="hidden" name="group_id" value="{{ group_id }}">

      <p>
        <button type="submit">Create Task</button>
      </p>
      </form>
    </div>

    <!-- <div class="col">
      <h2>Find a Task</h2>
      <form action="/add-group-chore" method="POST">

        <input type="hidden" name="group_id" value="{{ group_id }}">

        <p>
          <select name="chore_id">
            {% for chore in chores %}
            <option value="{{ chore.chore_id }}">{{ chore.chore_name }}</option>
            {% endfor %}
          </select>
        </p>

        <p>
          <button type="submit">Add Task to Library</button>
        </p>
      </form>
    </div> -->

  </div>

</div>

{% endblock %}