{% extends 'base.html' %}

{% block body %}

  <div class="container">

    <div class="row">
      <div class="col">
        <h1>Welcome to Tasklist!</h1>
      </div>
    </div>
  
    <div class="row">

      <div class="col">
        <h2>Log In</h2>
        <form action="/login" method="POST">
          <p>
            Username <input type="text" name="username">
          </p>

          <p>
            Password <input type="password" name="password">
          </p>

          <p>
            <button type="submit">Login</button>
          </p>
        </form>
      </div>

      <div class="col">
        <h2>Create an Account</h2>
        <form action="/users" method="POST">
          <p>
            Username <input type="text" name="username">
          </p>

          <p>
            Password <input type="password" name="password">
          </p>

          <p>
            <button type="submit">Create Account</button>
          </p>
        </form>
      </div>
    

    </div>
  </div>  
{% endblock %}