{% extends 'base.html' %}

{% block body %}
<div class="container">
  
  <div class="row">
    <div class="col">
      <h2>My Tasklist Groups</h2>
      <ul id="card-ul">
        {% for users_group in users_groups %}
        <li id="card-li">
            <a href="/groups/{{ users_group.group_id }}">
                {{ users_group.group.group_name }}
              </a>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col">
      <h2>Create New Group</h2>
      <form action="/add-group" method="POST">
        <p>
          Group Name <input type="text" name="group_name">
        </p>

        <p>
          Group Description <input type="text" name="group_description">
        </p>
        
        <p>
          <button type="input">Create Group</button>
        </p>
      </form>
    </div>


    <div class="col">
      <h2>Join a Group</h2>
      <form action="/join-group" method="POST">

        <p>
          <select name="group_id">
            {% for group in groups %}
            <option value="{{ group.group_id }}">{{ group.group_name }}</option>
            {% endfor %}
          </select>
        </p>

        <p>
          <button type="submit">Join Group</button>
        </p>
      </form>
    </div>
</div>
{% endblock %}