{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block body %}
<h1>{{ user.username }}</h1>

<h2>{{ user.username }}'s Assignments</h2>


<table>
  <tr>
    <th>Chore Name</th>
    <th>Chore Description</th>
    <th>Group</th>
    <th>Chore Complete?</th>
  </tr>
  {% for assignment in assignments %}
  <tr>
    <td> {{ assignment.chore.chore_name }} </td>
    <td> {{ assignment.chore.chore_description }} </td>
    <td> {{ assignment.group.group_name }} </td>
    <td> {{ assignment.complete }} </td>
    <td>
      <form action="/mark-complete" method="POST">  

        <input type="hidden" name="user_id" value="{{ user.user_id }}">
        <input type="hidden" name="assignment_id" value="{{ assignment.assignment_id }}">

        <button type="submit"> 
          Mark Complete
        </button>

      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<!-- <script src="/static/js/tasklist.js"></script> -->

{% endblock %}