{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block body %}

<div class="container">

  <h1>{{ user.username }}'s Assignments</h1>


  <table>
    <tr>
      <th>Chore Name</th>
      <th>Chore Description</th>
      <th>Group</th>
      <th>Chore Complete?</th>
    </tr>
    {% for assignment in assignments %}
    <tr>
      <td>{{ assignment.chore.chore_name }}</td>
      <td>{{ assignment.chore.chore_description }}</td>
      <td style="text-align: center"><a href="/groups/{{ assignment.group.group_id}}">{{ assignment.group.group_name }}</a></td>
      <td style="text-align: center">{{ assignment.complete }}</td>
      <td>
        <form action="/toggle-complete" method="POST">  

          <input type="hidden" name="user_id" value="{{ user.user_id }}">
          <input type="hidden" name="assignment_id" value="{{ assignment.assignment_id }}">

          <button type="submit"> 
            Toggle Complete
          </button>

        </form>
      </td>
      <td>
        <form action="/delete-assignment" method="POST">  

          <input type="hidden" name="user_id" value="{{ user.user_id }}">
          <input type="hidden" name="assignment_id" value="{{ assignment.assignment_id }}">

          <button type="submit"> 
            x
          </button>

        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}